<md-dialog aria-label="Create new expense">
  <md-content>
    <md-card class="class-padding">
      <form ng-submit="ctrl.parent.addExpense()" name="expenseForm">
        <h2>Add new Expense</h2>
        <div layout="row">
          <md-input-container flex>
            <label>Description</label>
            <input ng-model="ctrl.parent.newExpense.description" required>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Category</label>
            <md-select ng-model="ctrl.parent.newExpense.category" required>
              <md-option>Projects</md-option>
              <md-option>Travel</md-option>
              <md-option>Resources</md-option>
              <md-option>Utilities</md-option>
              <md-option>Marketing</md-option>
              <md-option>Other</md-option>
            </md-select>
            <!-- <input ng-model="ctrl.parent.newExpense.category" required>-->
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Date</label>
            <input type="date" ng-model="ctrl.parent.newExpense.date" min="2010-01-02" required>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Amount</label>
            <input ng-model="ctrl.parent.newExpense.amount" required>
          </md-input-container>
          <div layout="row">
            <md-input-container flex>
              <md-button type="submit" class="md-raised md-primary" ng-disabled="expenseForm.$invalid">Create Expense
              </md-button>
            </md-input-container>
          </div>
        </div>
      </form>
    </md-card>
  </md-content>
</md-dialog>
