<md-dialog aria-label="Create new expense">
  <md-content>
    <md-card class="class-padding">
      <form ng-submit="ctrl.parent.addIncome()" name="incomeForm">
        <h2>Add new Income</h2>
        <div layout="row">
          <md-input-container flex>
            <label>Description</label>
            <input ng-model="ctrl.parent.newIncome.description" required>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Category</label>
            <md-select ng-model="ctrl.parent.newIncome.category" required>
              <md-option>Consultation</md-option>
              <md-option>Intensive Session</md-option>
              <md-option>Seminars</md-option>
              <md-option>Media Sales</md-option>
            </md-select>
            <!-- <input ng-model="ctrl.parent.newExpense.category" required>-->
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Date</label>
            <input type="date" ng-model="ctrl.parent.newIncome.date" min="2010-01-02" required>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Amount</label>
            <input ng-model="ctrl.parent.newIncome.amount" required>
          </md-input-container>
          <div layout="row">
            <md-input-container flex>
              <md-button type="submit" class="md-raised md-primary" ng-disabled="incomeForm.$invalid">Create Income
              </md-button>
            </md-input-container>
          </div>
        </div>
      </form>
    </md-card>
  </md-content>
</md-dialog>
