<div ng-include="'components/navbar/navbar.html'"></div>


<md-content class="md-padding">
<md-card>
  <md-data-table-container>
    <h1>Expenses</h1>
    <table md-data-table><!--md-row-select="selected" md-progress="deferred">-->
      <thead> <!--md-order="query.order" md-trigger="onOrderChange">-->
      <tr>
        <th name="Description"></th>
        <th name="Category"></th>
        <th name="Date"></th>
        <th name="Amount"></th>
      </tr>
      </thead>
      <tbody>
      <tr md-auto-select ng-repeat="expense in expenses">
        <td>{{expense.description}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.date|date}}</td>
        <td>{{expense.amount|currency}}</td>
        <td>
          <md-button ng-show="isAdmin" class="md-fab md-warn" ng-click="deleteExpense(expense._id)">del</md-button>
        </td>
        <td>
          <md-button ng-show="isAdmin" class="md-fab md-primary md-raised" ng-click="setSelected(expense._id);showEdit($event)" ng-disabled="false">edit
          </md-button>
        </td>
      </tr>
      </tbody>
    </table>
  </md-data-table-container>
</md-card>
  <md-button class="md-fab md-primary" ng-click="showAdd($event)" flex flex-md="100"><i>Add</i></md-button>
</md-content>
